<section id="widget-grid">
	<div class="well">
		<header><h2 style="margin:0;">许可协议</h2></header>
		<div>
			<p>如果您安装、复制或以其它方式使用了本软件产品，则视为您已同意下列条款，并已和武汉噢易云计算有限公司（以下简称“噢易科技” 签定了本《软件许可协议》（以下简称“协议”）。如果您通过合法渠道从噢易科技取得本软件的任何拷贝，则您拥有如下权利：</p>
			<ol>
				<li>使用权 您有权在计算机上安装本软件，并在业务范围内使用本软件，再现本软件具有的全部功能。</li>
				<li>技术支持 您有权获得噢易科技的全面的技术支持。对于本软件在安装使用过程中产生的任何疑问、问题，您均有权向噢易科技提出并要求噢易科技给予解答或解决。</li>
				<li>版本升级 根据实际需要，您有权获得本软件的各个升级版本的使用权。但如果噢易科技另有要求，您须支付适当的版本升级费用。</li>
				<li>一般限制 您对本软件的使用权仅限于再现本软件本身具有的功能，您无权擅自修改本软件，也无权对本软件进行反向工程、反编译或反汇编，也无权在本软件的基础上进行二次开发，衍生新的软件。</li>
				<li>备份 除非为您自己的正常使用或备份存档的目的，您也无权擅自复制本软件的全部或任何部分内容。</li>
				<li>使用 对本软件的使用权范围仅限于您单位本身。未经噢易科技书面允许，您无权以转让、许可、出租、租赁、出借、赠与或其它任何方式向任何第三方提供本软件或其复制件或其中任何部分，无 论这种提供是否出于商业目的。</li>
				<li>其他 您有义务采取有效措施，约束您公司的职员或员工遵守上述条款的有关约定。</li>
				<li>声明 对于本软件，噢易科技保证不含有任何恶意破坏您的计算机资源（包括文档、程序和其他数据）的功能设置。对于您在使用此软件过程中而产生的利润损失、可用性消失、商业中断，或任何 形式的间接、特别、意外或必然的破坏，或任何其他方的索赔，噢易科技及其代理、销售人员概不负责。</li>
				<li>知识产权和保密 本软件的版权和可能涉及的噢易科技的商标权、专利权、专有技术和其他权利，其所有权归噢易科技。您对其中出现的权利标识应妥善保留，不能擅自迚行删剪或修改。您拥有授权范围内的使用权，但没有转让或许可他人使用的权利。对于涉及噢易科技技术秘密的内容，您还负有保密的义务。</li>
				<li>其它 本软件许可协议的未尽事宜，由双方其它协议或另行协商约定。本软件许可协议适用中华人民共和国有关法律。</li>
			</ol>
		</div>
	</div>
</section>
<script>pageSetUp();</script>
