<style>
.panel_holder{
	width:90%;
	height:300px;
}
</style>
<section id="widget-grid">
	<div class="well">
		<header>概要</header>
		<article>
			<div id="handware">
				<div id="host" class="panel_holder"></div>
				<div id="c_m_d" class="panel_holder"></div>
			</div>
			<div id="desktop">
				<div id="host" class="panel_holder"></div>
				<div id="c_m_d" class="panel_holder"></div>
			</div>
			<div id="client">
			</div>
		</article>
	</div>
</section>
<script>
pageSetUp();
$("#host").highcharts({
	chart : {
		plotBackgroundColor : null,
		plotBorderWidth : null,
		plotShadow : false
	},
	title : {
		text : "主机状态"
	},
	tooltip : {
		pointFormat : "{series.name}: <b>{point.percentage}</b>"
	},
	plotOptions : {
		pie : {
			allowPointSelect : true,
			cursor : "pointer",
			dataLabels : {
				enabled : true,
				format : "<b>{point.name}</b>: {point.percentage:.1f}",
				style : {
					color : (Highcharts.theme && Highcharts.theme.contrastTextColor) || "#333"
				}
			}
		}
	},
	series : [
		{
			type : "pie",
			name : "主机状态",
			data : [
				["运行中", 2],
				["关闭", 3]
			]
		}
	]
});

$("#c_m_d").highcharts({
	chart : {
		type : "column"
	},
	title : {
		text : "CPU/内存/硬盘"
	},
	xAxis : {
		categories : ["CPU", "内存", "硬盘"]
	},
	yAxis : {
		enabled : false,
		min : 0,
		title : { text : "xxxxx" },
		stackLabels : { enabled : false }
	},
	legend : {
		enabled : false,
		align : "right",
		x : -70,
		verticalAlign : "top",
		y : 20,
		floating : true,
		backgroundColor : "transparent",
		borderColor : "red",
		borderWidth : 0,
		shadow : true
	},
	tooltip : {
		pointFormat : "{series.name}: <b>{point.percentage:.1f}</b>"
	},
	plotOptions : {
		column : {
			stacking : "normal",
			dataLabels : { enabled : false }
		},
		pie : {
			allowPointSelect : true,
			cursor : "pointer",
			dataLabels : {
				enabled : true,
				format : "<b>{point.name}</b>: {point.percentage:.1f} %",
				style : {
					color : (Highcharts.theme && Highcharts.theme.contrastTextColor) || "#333"
				}
			}
		}
	},
	series : [
		{ name : "CPU", data : [0, 100, 10] },
		{ name : "CPU", data : [10, 90] },
		{ name : "CPU", data : [30, 70] }
	]
});



</script>