<div>
	<ul>
		<li ng-click="getClassId(article[0].articleId)">
			<img ng-src="{{apiUrl+article[0].articleLogo}}"/>
			<p ng-bind="article[0].articleTitle"></p>
		</li>
		<li ng-click="getClassId(article[4].articleId)">
			<img ng-src="{{apiUrl+article[4].articleLogo}}"/>
			<p ng-bind="article[4].articleTitle"></p>
		</li>
		<li ng-click="getClassId(article[10].articleId)">
			<img ng-src="{{apiUrl+article[10].articleLogo}}"/>
			<p ng-bind="article[10].articleTitle"></p>
		</li>
		
	</ul>
</div>