<div>
	<ul>
		<li ng-click="getClassId(article[2].articleId)">
			<img ng-src="{{apiUrl+article[2].articleLogo}}"/>
			<p ng-bind="article[2].articleTitle"></p>
		</li>
		<li ng-click="getClassId(article[3].articleId)">
			<img ng-src="{{apiUrl+article[3].articleLogo}}"/>
			<p ng-bind="article[3].articleTitle"></p>
		</li>
		<li ng-click="getClassId(article[6].articleId)">
			<img ng-src="{{apiUrl+article[6].articleLogo}}"/>
			<p ng-bind="article[6].articleTitle"></p>
		</li>
		<li ng-click="getClassId(article[7].articleId)">
			<img ng-src="{{apiUrl+article[7].articleLogo}}"/>
			<p ng-bind="article[7].articleTitle"></p>
		</li>
	</ul>
</div>
