<script>
function vdiTemplateTeachDesktopListController($scope, $rootElement, $element){
	var data = JSON.stringify({
	});

	$scope.rows = [0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0].map(function(d, i){
		d = JSON.parse(data);
		d.id = "$$_" + Math.random().toString(36).substr(2);
		d.accessDate = new Date();
		d.accessClient = Math.random().toString(36).substr(2);
		d.accessDesktop = ["Admin", "Master", "Stuff"][Math.floor(Math.random() * 3)];
		d.status = ["正常", "异常"][Math.floor(Math.random() * 2)];
		d.duration = Date.now() % 10000000;
		return d;
	});
	var _checkAll = $element.find("input[data-ng-model='rowCheckAll']")[0];
	var _cmdBtns = $element.find(".dt-toolbar .btn").addClass("disabled");
	var _cmdBatchBtns = _cmdBtns.filter(".isBatch");
	var _cmdSingleBtns = _cmdBtns.filter(".isSingle");
	var fn_some_check = function(_r){ return _r.checked; };
	var fn_change_buttons_state = function(){
		var _eles = $element.find("input[data-ng-model='row']");
		var _checkedLength = _eles.filter(":checked").length;
		if(_checkedLength){
			_cmdBtns.removeClass("disabled");
			if(_checkedLength > 1){
				_cmdSingleBtns.addClass("disabled");
			}
		}
		else{
			_cmdBtns.addClass("disabled");
		}
	};
	$scope.evCheckAll = function(checkAll){
		var _eles = $element.find("input[data-ng-model='row']");
		_eles.each(function(){
			this.checked = checkAll;
		});
		fn_change_buttons_state();
	};
	$scope.evCheck = function(check, id){
		_checkAll.checked = [].every.call($element.find("input[data-ng-model='row']"), function(_r){
			return _r.checked;
		});
		fn_change_buttons_state();
	};
}
</script>
<section id="widget-grid">
	<div class="row">
		<article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<div
				class="jarviswidget"
				id="wid-desktop-teach"
				data-ng-controller="vdiTemplateTeachDesktopListController"
				data-widget-editbutton="true"
				data-widget-colorbutton="true"
				data-widget-editbutton="true"
				data-widget-togglebutton="true"
				data-widget-deletebutton="false"
				data-widget-fullscreenbutton="true"
				data-widget-custombutton="true"
				data-widget-collapsed="false"
				data-widget-sortable="true">
				<header>
					<span class="widget-icon"> <i class="fa fa-table"></i> </span>
					<h2>教学模版</h2>
				</header>
				<!-- widget div-->
				<div>
					<div class="jarviswidget-editbox"></div>
					<div class="widget-body no-padding">
						<div class="alert alert-info no-margin">
							<ul>
								<li>会话连接最大数量即license规定的最大连接数量。</li>
								<li>中断会话将切断当前终端与桌面之间的连接。</li>
							</ul>
						</div>
						<div class="dataTables_wrapper form-inline no-footer">
							<div class="dt-toolbar">
								<div class="col-xs-12 col-sm-3"></div>
								<div class="col-sm-9 col-xs-10 hidden-xs">
									<a class="btn btn-info isBatch" href="javascript:">中断会话</a>
								</div>
							</div>
						</div>
						<div class="table-responsive">
							<table
								class="table table-bordered table-striped table-condensed table-hover smart-form has-tickbox"
								width="100%">
								<thead class="vdi_header">
									<tr>
										<th><label class="checkbox"><input type="checkbox" data-ng-model="rowCheckAll" data-ng-change="evCheckAll(rowCheckAll)" name="checkbox-inline"><i></i></label></th>
										<th>接入时间</th>
										<th>接入终端</th>
										<th>接入桌面</th>
										<th>当前状态</th>
										<th>运行时长</th>
									</tr>
								</thead>
								<tbody class="vdi_body">
									<tr data-ng-repeat="item in rows">
										<td><label class="checkbox"><input data-ng-model="row" data-ng-change="evCheck(row, item.id)" type="checkbox" value="{{item.id}}" name="checkbox-inline"><i></i></label></td>
										<td>{{ item.accessDate }}</td>
										<td>{{ item.accessClient }}</td>
										<td>{{ item.accessDesktop }}</td>
										<td>{{ item.status }}</td>
										<td>{{ item.duration }}</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</article>
	</div>
</section>
<script>pageSetUp();</script>