<script>

var desktop_teach_data = JSON.stringify({
	"name" : Math.random().toString(36).substr(2),
	"alias" : "别名",
	"usb" : false,
	"status" : "正常",
	"jieru" : "终端",
	"ip_mac" : "12:03:FE:3B:75:34",
	"template" : "Windows7-32",
	"hardware" : { cpu : "2", mem : "2 GB", disk : "10 GB" },
	"host" : "...",
	"login_name" : "peng",
	"jiaoxuechangjing" : ""
});



function vdiDesktopTeachListController($scope, $rootElement, $element){
	$scope.rows = [0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0].map(function(d, i){
		d = JSON.parse(desktop_teach_data);
		d.name = Math.random().toString(36).substr(2);
		d.alias = "别名" + Math.random().toString(36).substr(2);
		d.template = ["WinXP", "Win7", "Win8", "OSX", "Linux32"][Math.floor((Math.random() * 5))];
		d.jiaoxuechangjing = ["物理", "化学", "中文", "哲学", "计算机"][Math.floor((Math.random() * 5))];
		d.login_name = ["张三", "李四", "王五", "Andy", "Jacky"][Math.floor((Math.random() * 5))];
		d.status = "已运行 " + Math.ceil(Math.random() * 10) + "小时" + (Math.floor(Math.random() * 60)) + "分";
		d.id = "$$_" + Math.random().toString(36).substr(2);
		d.name = "个人桌面-" + String.fromCharCode(20000 + Math.floor(Math.random() * 200));
		d.alias = ["张三", "李四", "王五", "Andy", "Jacky"][Math.floor((Math.random() * 5))] + "的桌面";
		d.status = "已运行 " + Math.ceil(Math.random() * 10) + "小时" + (Math.floor(Math.random() * 60)) + "分";
		d.host = "主机-" + String.fromCharCode(20000 + Math.floor(Math.random() * 200));
		d.template = ["WinXP", "Win7", "Win8", "OSX", "Linux32"][Math.floor((Math.random() * 5))];
		return d;
	});
	var _checkAll = $element.find("input[data-ng-model='rowCheckAll']")[0];
	var _cmdBtns = $element.find(".dt-toolbar .btn").addClass("disabled");
	var _cmdBatchBtns = _cmdBtns.filter(".isBatch");
	var _cmdSingleBtns = _cmdBtns.filter(".isSingle");
	var fn_some_check = function(_r){ return _r.checked; };
	var fn_change_buttons_state = function(){
		var _eles = $element.find("input[data-ng-model='row']");
		var _checkedLength = _eles.filter(":checked").length;
		if(_checkedLength){
			_cmdBtns.removeClass("disabled");
			if(_checkedLength > 1){
				_cmdSingleBtns.addClass("disabled");
			}
		}
		else{
			_cmdBtns.addClass("disabled");
		}
	};
	$scope.evCheckAll = function(checkAll){
		var _eles = $element.find("input[data-ng-model='row']");
		_eles.each(function(){
			this.checked = checkAll;
		});
		fn_change_buttons_state();
	};
	$scope.evCheck = function(check, id){
		_checkAll.checked = [].every.call($element.find("input[data-ng-model='row']"), function(_r){
			return _r.checked;
		});
		fn_change_buttons_state();
	};
}
</script>

<div class="well well-light">
	<section data-widget-grid="" id="teach-page">
		<!-- row -->
		<div class="row">

			<article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<!-- Widget ID (each widget will need unique ID)-->
				<div
					class="jarviswidget"
					id="wid-desktop-teach"
					data-ng-controller="vdiDesktopTeachListController"
					data-widget-editbutton="true"
					data-widget-colorbutton="true"
					data-widget-editbutton="true"
					data-widget-togglebutton="true"
					data-widget-deletebutton="false"
					data-widget-fullscreenbutton="true"
					data-widget-custombutton="true"
					data-widget-collapsed="false"
					data-widget-sortable="true">
					<header>
						<span class="widget-icon"> <i class="fa fa-table"></i> </span>
						<h2>教学桌面</h2>
					</header>
					<!-- widget div-->
					<div>
						<!-- widget edit box -->
						<div class="jarviswidget-editbox">
							<!-- This area used as dropdown edit box -->
						</div>
						<!-- end widget edit box -->

						<!-- widget content -->
						<div class="widget-body no-padding">
							<div class="alert alert-info no-margin">
									<ul>
										<li>教学桌面与终端绑定，终端打开时会自动登录到对应的桌面。</li>
										<li>教学桌面受场景心跳超时影响，心跳超时会使当前会话失效。</li>
										<li>教学桌面关机后将会还原到第一次开启状态。</li>
									</ul>
							</div>
							<div class="dataTables_wrapper form-inline no-footer">

									<!--div class="dt-toolbar">
										<div class="col-xs-12 col-sm-6"></div>
										<div class="col-sm-6 col-xs-6 hidden-xs">
											<a class="btn btn-default" href="javascript:">开机</a>
											<div class="btn-group">
												<button class="btn btn-default dropdown-toggle" data-toggle="dropdown">
													关机 <span class="caret"></span>
												</button>
												<ul class="dropdown-menu">
													<li><a href="javascript:void(0);">强制关机</a></li>
													<li class="divider"></li>
													<li><a href="javascript:void(0);">自然关机</a></li>
												</ul>
											</div>
											<a class="btn btn-default" href="javascript:">重启</a>
											<a class="btn btn-default" href="javascript:">暂停</a>
											<a class="btn btn-default" href="javascript:">恢复</a>
											<a class="btn btn-default" href="javascript:">查看桌面</a>
										</div>
									</div-->
								<div class="dt-toolbar">



									<div class="col-xs-12 col-sm-3"></div>
									<div class="col-sm-9 col-xs-10 hidden-xs">
										<a class="btn btn-info isBatch" href="javascript:">开机</a>
										<div class="btn-group">
											<button class="btn btn-info dropdown-toggle isBatch" data-toggle="dropdown">
												关机 <span class="caret"></span>
											</button>
											<ul class="dropdown-menu">
												<li><a class="isBatch" href="javascript:void(0);">强制关机</a></li>
												<li class="divider"></li>
												<li><a class="isBatch" href="javascript:void(0);">自然关机</a></li>
											</ul>
										</div>
										<a class="btn btn-info isBatch" href="javascript:">重启</a>
										<a class="btn btn-info isBatch" href="javascript:">暂停</a>
										<a class="btn btn-info isBatch" href="javascript:">恢复</a>
										<a class="btn btn-info isSingle" href="javascript:">查看桌面</a>
										<a class="btn btn-info isSingle" href="javascript:">动态迁移</a>
										<a class="btn btn-info isSingle" href="javascript:">桌面修改</a>
										<a class="btn btn-info isSingle" href="javascript:">存为模版</a>
										<a class="btn btn-info isSingle" href="javascript:">快照管理</a>
									</div>
								</div>
							</div>
							<div class="table-responsive">
								<table
									class="table table-bordered table-striped table-condensed table-hover smart-form has-tickbox"
									width="100%">
										<thead class="vdi_header">
											<tr>
												<th><label class="checkbox"><input type="checkbox" data-ng-model="rowCheckAll" data-ng-change="evCheckAll(rowCheckAll)" name="checkbox-inline"><i></i></label></th>
												<th>桌面</th>
												<th>运行状态</th>
												<th>接入方式</th>
												<th>IP/MAC</th>
												<th>教学场景</th>
												<th>登录名</th>
												<th>OS/模板</th>
												<th>CPU/内存/存储</th>
												<th>宿主机</th>
											</tr>
										</thead>
										<tbody class="vdi_body">
											<tr data-ng-repeat="item in rows">
												<td><label class="checkbox"><input data-ng-model="row" data-ng-change="evCheck(row, item.id)" type="checkbox" value="{{item.id}}" name="checkbox-inline"><i></i></label></td>
												<td>{{ item.name }}<br>[ {{ item.alias }} ]<br> {{ item.usb ? "支持USB" : "不支持USB" }}</td>
												<td>{{ item.status }}</td>
												<td>{{ item.jieru }}</td>
												<td>{{ item.ip_mac }}</td>
												<td>{{ item.jiaoxuechangjing }}</td>
												<td>{{ item.login_name }}</td>
												<td>{{ item.template }}</td>
												<td>{{ item.hardware.cpu }} 个 / {{ item.hardware.mem }} / {{ item.hardware.disk }}</td>
												<td>{{ item.host }}</td>
											</tr>
										</tbody>
								</table>
							</div>
						</div>
						<!-- end widget content -->
					</div>
					<!-- end widget div -->
				</div>
				<!-- end widget -->
			</article>




		</div>
		<!-- end row -->
	</section>
</div>

<script>pageSetUp();</script>