<script>
function vdiUserAdminManageController($scope, $rootElement, $element){
	var data = JSON.stringify({
		"name" : Math.random().toString(36).substr(2),
		"alias" : "别名",
		"usb" : false,
		"status" : "正常",
		"jieru" : "终端",
		"ip_mac" : "12:03:FE:3B:75:34",
		"template" : "Windows7-32",
		"hardware" : { cpu : "2", mem : "2 GB", disk : "10 GB" },
		"host" : "...",
		"login_name" : "peng",
		"jiaoxuechangjing" : ""
	});

	$scope.rows = [0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0].map(function(d, i){
		d = JSON.parse(data);
		d.name = Math.random().toString(36).substr(2);
		d.no = Math.round(Math.random() * 1000000);
		d.desktopCount = Math.round(Math.random() * 1000000);
		d.email = Math.random().toString(36).substr(3) + "@os-easy.com";
		d.tel = "13" + Math.random().toString().substr(2,11);
		d.createDate = new Date();
		d.last_ip = "192.168.2.14";
		d.control = "...";
		return d;
	});
	var _checkAll = $element.find("input[data-ng-model='rowCheckAll']")[0];
	var _cmdBtns = $element.find(".dt-toolbar .btn").addClass("disabled");
	var _cmdBatchBtns = _cmdBtns.filter(".isBatch");
	var _cmdSingleBtns = _cmdBtns.filter(".isSingle");
	var fn_some_check = function(_r){ return _r.checked; };
	var fn_change_buttons_state = function(){
		var _eles = $element.find("input[data-ng-model='row']");
		var _checkedLength = _eles.filter(":checked").length;
		if(_checkedLength){
			_cmdBtns.removeClass("disabled");
			if(_checkedLength > 1){
				_cmdSingleBtns.addClass("disabled");
			}
		}
		else{
			_cmdBtns.addClass("disabled");
		}
	};
	$scope.evCheckAll = function(checkAll){
		var _eles = $element.find("input[data-ng-model='row']");
		_eles.each(function(){
			this.checked = checkAll;
		});
		fn_change_buttons_state();
	};
	$scope.evCheck = function(check, id){
		_checkAll.checked = [].every.call($element.find("input[data-ng-model='row']"), function(_r){
			return _r.checked;
		});
		fn_change_buttons_state();
	};
}
</script>

<div class="well well-light">
	<section data-widget-grid="" id="teach-page">
		<!-- row -->
		<div class="row">

			<article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<!-- Widget ID (each widget will need unique ID)-->
				<div
					class="jarviswidget"
					data-ng-controller="vdiUserAdminManageController"
					data-widget-editbutton="true"
					data-widget-colorbutton="true"
					data-widget-editbutton="true"
					data-widget-togglebutton="true"
					data-widget-deletebutton="false"
					data-widget-fullscreenbutton="true"
					data-widget-custombutton="true"
					data-widget-collapsed="false"
					data-widget-sortable="true">
					<header>
						<span class="widget-icon"> <i class="fa fa-table"></i> </span>
						<h2>教学桌面</h2>
					</header>
					<!-- widget div-->
					<div>
						<!-- widget edit box -->
						<div class="jarviswidget-editbox">
							<!-- This area used as dropdown edit box -->
						</div>
						<!-- end widget edit box -->

						<!-- widget content -->
						<div class="widget-body no-padding">
							<div class="alert alert-info no-margin">
								<ul>
									<li>普通用户是使用客户端接入桌面时使用的，不能登录管理台。</li>
									<li>导入用户的excel格式参照导出用户的excel格式。</li>
								</ul>
							</div>
							<div class="dataTables_wrapper form-inline no-footer">
								<div class="dt-toolbar">
									<!--div class="col-xs-12 col-sm-3"></div>
									<div class="col-sm-9 col-xs-10 hidden-xs">
										<a class="btn btn-info isBatch" href="javascript:">唤醒</a>
										<a class="btn btn-info isBatch" href="javascript:">关闭</a>
										<a class="btn btn-info isBatch" href="javascript:">中断会话</a>
										<a class="btn btn-info isSingle" href="javascript:">绑定虚拟机IP</a>
										<a class="btn btn-info isSingle" href="javascript:">终端配置</a>
										<a class="btn btn-info isSingle" href="javascript:">配置教室</a>
									</div-->
								</div>
							</div>
							<div class="table-responsive">
								<table
									class="table table-bordered table-striped table-condensed table-hover smart-form has-tickbox"
									width="100%">
										<thead class="vdi_header">
											<tr>
												<th><label class="checkbox"><input type="checkbox" data-ng-model="rowCheckAll" data-ng-change="evCheckAll(rowCheckAll)" name="checkbox-inline"><i></i></label></th>
												<th>登陆名</th>
												<th>姓名</th>
												<th>关联桌面数</th>
												<th>电子邮件</th>
												<th>联系电话</th>
												<th>创建时间</th>
												<th>上次登录IP</th>
												<th>操作</th>
											</tr>
										</thead>
										<tbody class="vdi_body">
											<tr data-ng-repeat="item in rows">
												<td><label class="checkbox"><input data-ng-model="row" data-ng-change="evCheck(row, item.id)" type="checkbox" value="{{item.id}}" name="checkbox-inline"><i></i></label></td>
												<td>{{ item.login_name }}</td>
												<td>{{ item.name }}</td>
												<td>{{ item.desktopCount }}</td>
												<td>{{ item.email }}</td>
												<td>{{ item.tel }}</td>
												<td>{{ item.createDate }}</td>
												<td>{{ item.last_ip }}</td>
												<td>{{ item.control }}</td>
											</tr>
										</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</article>
		</div>
	</section>
</div>
<script>pageSetUp();</script>


<div class="well">
<pre>
普通用户

普通用户是使用客户端接入桌面时使用的，不能登录管理台。
导入用户的excel格式参照导出用户的excel格式。
  导入  导出
显示  项结果
搜索:
	登陆名	姓名	角色	关联桌面数	创建时间	操作
	uuser1	uuser1	教师	0	2014-09-19 21:14:18	
	uuser2	uuser1	教师	0	2014-09-19 21:14:53	
	wangc	wangc	普通用户	0	2014-09-23 13:01:34	
	jiao	金姣	教师	0	2014-09-25 16:22:55	
	ajc	AJC	教师	0	2014-09-26 09:37:53	显示第 1 至 5 项结果，共 5 项
</pre>
</div>