<script>
function vdiTemplateTeachDesktopListController($scope, $rootElement, $element){
	var data = JSON.stringify({
	});

	$scope.rows = [0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0].map(function(d, i){
		d = JSON.parse(data);
		d.id = "$$_" + Math.random().toString(36).substr(2);
		d.name = Math.random().toString(36).substr(2);
		d.type = "i386";
		d.size = Math.round(20000 * Math.random());;
		d.used = Math.round(200 * Math.random());
		d.coreName = "";
		d.status = ["正常", "异常"][Math.floor(Math.random() * 2)];
		d.creator = ["Admin", "Master", "Stuff"][Math.floor(Math.random() * 3)];
		d.createDate = new Date();
		d.control = "...";
		return d;
	});
	var _checkAll = $element.find("input[data-ng-model='rowCheckAll']")[0];
	var _cmdBtns = $element.find(".dt-toolbar .btn").addClass("disabled");
	var _cmdBatchBtns = _cmdBtns.filter(".isBatch");
	var _cmdSingleBtns = _cmdBtns.filter(".isSingle");
	var fn_some_check = function(_r){ return _r.checked; };
	var fn_change_buttons_state = function(){
		var _eles = $element.find("input[data-ng-model='row']");
		var _checkedLength = _eles.filter(":checked").length;
		if(_checkedLength){
			_cmdBtns.removeClass("disabled");
			if(_checkedLength > 1){
				_cmdSingleBtns.addClass("disabled");
			}
		}
		else{
			_cmdBtns.addClass("disabled");
		}
	};
	$scope.evCheckAll = function(checkAll){
		var _eles = $element.find("input[data-ng-model='row']");
		_eles.each(function(){
			this.checked = checkAll;
		});
		fn_change_buttons_state();
	};
	$scope.evCheck = function(check, id){
		_checkAll.checked = [].every.call($element.find("input[data-ng-model='row']"), function(_r){
			return _r.checked;
		});
		fn_change_buttons_state();
	};
}
</script>
<section id="widget-grid">
	<div class="row">
		<article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<div
				class="jarviswidget"
				id="wid-desktop-teach"
				data-ng-controller="vdiTemplateTeachDesktopListController"
				data-widget-editbutton="true"
				data-widget-colorbutton="true"
				data-widget-editbutton="true"
				data-widget-togglebutton="true"
				data-widget-deletebutton="false"
				data-widget-fullscreenbutton="true"
				data-widget-custombutton="true"
				data-widget-collapsed="false"
				data-widget-sortable="true">
				<header>
					<span class="widget-icon"> <i class="fa fa-table"></i> </span>
					<h2>教学模版</h2>
				</header>
				<!-- widget div-->
				<div>
					<div class="jarviswidget-editbox"></div>
					<div class="widget-body no-padding">
						<div class="alert alert-info no-margin">
							<ul>
								<li>模板更新会同步到使用该模板生成的教学桌面中去。</li>
							</ul>
						</div>
						<div class="dataTables_wrapper form-inline no-footer">
							<!--div class="dt-toolbar">
								<div class="col-xs-12 col-sm-3"></div>
								<div class="col-sm-9 col-xs-10 hidden-xs">
									<a class="btn btn-info isBatch" href="javascript:">网络配置</a>
									<a class="btn btn-info isBatch" href="javascript:">重启主机</a>
									<a class="btn btn-info isBatch" href="javascript:">关闭主机</a>
									<a class="btn btn-info isBatch" href="javascript:">重启虚拟化服务</a>
								</div>
							</div-->
						</div>
						<div class="table-responsive">
							<table
								class="table table-bordered table-striped table-condensed table-hover smart-form has-tickbox"
								width="100%">
								<thead class="vdi_header">
									<tr>
										<th><label class="checkbox"><input type="checkbox" data-ng-model="rowCheckAll" data-ng-change="evCheckAll(rowCheckAll)" name="checkbox-inline"><i></i></label></th>
										<th>模板名</th>
										<th>类型</th>
										<th>系统空间大小(GB)</th>
										<th>关联桌面数</th>
										<th>系统架构</th>
										<th>状态</th>
										<th>创建者</th>
										<th>创建时间</th>
										<th>操作</th>
									</tr>
								</thead>
								<tbody class="vdi_body">
									<tr data-ng-repeat="item in rows">
										<td><label class="checkbox"><input data-ng-model="row" data-ng-change="evCheck(row, item.id)" type="checkbox" value="{{item.id}}" name="checkbox-inline"><i></i></label></td>
										<td>{{ item.name }}</td>
										<td>{{ item.type }}</td>
										<td>{{ item.size }}</td>
										<td>{{ item.used }}</td>
										<td>{{ item.coreName }}</td>
										<td>{{ item.status }}</td>
										<td>{{ item.creator }}</td>
										<td>{{ item.createDate }}</td>
										<td>{{ item.control }}</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</article>
	</div>
</section>
<script>pageSetUp();</script>